*.[oa]
*.so
junk*
*~
.*.swp
.*.swo

*.tmp
tmp*

Makefile
config.*
autom4te.cache

libdwarf.h
dwarfdump
dwarfgen
gennames
simplereader
frame1
ar-output-temp
tag_attr_build
tag_tree_build

dwarf_names*
